
<div class="align-center"><h2>Admin Panel</h2>
<button routerLink="/admin-news">News</button>
<button routerLink="/admin-gallery">Gallery</button>
<button routerLink="/admin-events">Events</button>
<button routerLink="/admin-downloads">Downloads.</button>
<button routerLink="/admin-adverts">Adverts</button>
<button routerLink="/admin-posts">Posts</button>
<button routerLink="/admin-trends">Trends</button>
<button routerLink="/admin-adverts">Adverts</button>
</div>
<div class="category-panel">
    <label>Category</label><input type="text" >
    <input type="submit" value="Add Category">
</div>