.news-image{
    height: 2cm;
    width: 2cm;
}
.news-headline{
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-decoration: underline;
}
.dotted-line{
    border-top: 3px dotted #bbb;
}
.single-news:hover{
cursor: pointer;
color: blue;
}