<app-admin-menu></app-admin-menu>
<div>
    <h1>New Event</h1>
    <!-- private String message;
    private String imageUrl;
    private String title;
    private Time eventStart;
    private Time eventEnd;
    private Date eventDate;
    private String category; -->
    <label>Event Title</label><input type="text">
    <label>Event Subtitle</label><input type="text">
    <label>Event Category</label><select type="text"><option>News</option></select>
    <input type="submit" value="Submit">
</div>