.body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.download1{
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: left;
    
    .text{
    font-size: large;
    }
    .image{
        width: 5rem;
        height: 5rem;
    }
}